@keyframes popupInvisible {
    to {
        transform: scale(0);
    }
}
@keyframes popupVisible {
    to {
        transform: scale(1);
    }
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #020106;
    color: white;
    margin-top: 15vh;
    .button {
        color: white;
        background-color: #5B1EE3;
        border-color: #5B1EE3;
        border-radius: 25rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
    }
}
header {
    background-color: #AF9DD7;
    height: 10vh;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    img {
        max-width: 10vh;
    }
}
main {
    form {
        border-radius: 2rem;
        background-color: #AF9DD7;
        margin: 15vh;
        padding: 5vh;
        padding-top: 2vh;
        line-height: 2rem;
        max-width: 100%;
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        input, select {
            background-color: #AF9DD7;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom-width: 0.1rem;
        }
        h2 {
            text-align: center;
        }
        .radioDiv {
            color: black;
            input {
                margin-left: 2rem;
                margin-right: 1rem;
            }
        }
        .btnDiv {
            text-align: center;
        }
    }
    .popupBox {
        transform: scale(0);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position:absolute;
        z-index: 2;
        top: 25%;
        left:38%;
        background-color: rgba(91, 30, 227, 0.8);
        width: 330px;
        height: 290px;
        border-radius: 1rem;
        a {
            text-decoration: none;
            color: white;
            &:visited {
                color: white;
                text-decoration: none;
            }
        }
        div {
            width: 100%;
            text-align: center;
        }
        img {
            height: 5vh;
            vertical-align: middle;
            padding-right: 2rem;
        }
    }
    .invisible {
        animation: popupInvisible 0.1s ease 0s 1 normal forwards;
    }
    .visible {
        animation: popupVisible 0.4s ease 0.2s 1 normal forwards;
    }
}
footer {
    background-color: #AF9DD7;
    height: 8vh;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 3vh;
}